aside.large-3.column.show-for-large#posts-navigation
  h2 Останні замовлення
  ul.news-list
    each zamovlenia in hotOrders
      a(href="/orderfarm?id=" + zamovlenia._id)
        li= 'Замовлення #' + zamovlenia.number
