ul.menu 
  li
      a(href="/feed") Головна 
  li
    a(href="/ogolochenia") Оголошення
  li
    a(href="/b_zamovlenia") Створити замовлення
  li
    a(href="/b_sklad") Склад
  li
    a(href="/aktsia") Акції
  if (admin)
    li
      a(nohref)="|"
    li
      a(href="/b_pryxid") Прихід
    li
      a(href="/b_marcet") Магазини
    li
      a(href="/b_personal") Торгові агенти
  
      
