mixin buildingsFilter()
  .column.row
    form#searchmarcetForm
      h3 Фільтр
      p
        input(type="text", name="nfirm", placeholder="Назва фірми")
      p
        input(type="text", name="nmisto", placeholder="Населений пункт")
      p
        input(type="text", name="nstreet", placeholder="Адреса")
      p
        input(type="number", name="nhouse", placeholder="Будинок")

      section.expanded.row
        h5 Максимальний % знижки
        .column
          .slider(data-slider, data-initial-start="0", data-initial-end="10", data-end="10")
            span.slider-handle(data-slider-handle, role="slider", tabindex="1", aria-controls="znizkaFrom")
            span.slider-fill(data-slider-fill)
            span.slider-handle(data-slider-handle, role="slider", tabindex="1", aria-controls="znizkaTo")
        .small-5.medium-5.large-5.column
          input(type="number", name="znizkaFrom")#znizkaFrom
        .small-5.medium-5.large-5.column
          input(type="number", name="znizkaTo")#znizkaTo

      input.expanded.button.success(type="submit", value="Почати пошук")



mixin skladfilter()
  .column.row
    form#searchskladForm
      h3 Фільтр
      p
        input(type="text", name="namet", placeholder="Назва товару")
      
      -
        var types = [
          { name: 'ntip', value: 'PET', text: 'ПЕТ' },
          { name: 'ntip', value: 'PNT', text: 'ПНТ' },
          { name: 'ntip', value: 'BOCH', text: 'Бочка' },
          { name: 'ntip', value: 'CIS', text: 'Цистерна' },
          { name: 'ntip', value: 'BID', text: 'Бідон' } 
        ]

      p
        label.labellist Товар
          select
            each tip in types
              option(value=tip.value, name=tip.name)= tip.text
      
      p
        input(type="text", name="nvir", placeholder="Виробник")
      p
        input(type="text", name="npos", placeholder="Постачальник")
      p
        input(type="text", name="ncolor", placeholder="Колір")
      p
        input(type="number", name="nlitr", placeholder="Літраж")
      p
        input(type="number", name="nzak", placeholder="Закуп. ціна")
      p
        input(type="number", name="nopt", placeholder="Оптова ціна")
      p
        input(type="number", name="nrozd", placeholder="Роздріб. ціна")



      input.expanded.button.success(type="submit", value="Почати пошук")