extends ../layout/default

block content

    
    main.expanded.row#main
        a.expanded.button.create-post-btn(type="button", href="/b_new_permarcet?add=true", target="_blank") Додати новий магазин
           
        .expanded.column
            if (Marcets)
                .title-row.expanded.row
                    .small-3.medium-3.large-3.column Назва фірми
                    .small-2.medium-2.large-2.column Населений пункт
                    .small-3.medium-3.large-3.column Адреса
                    .small-2.medium-2.large-2.column Будинок
                    .small-2.medium-2.large-2.column Максимальний % знижки

                hr
                - var i = 1;
                .Mercet-section
                    each Marcet in Marcets
                        +b_magazinfo(Marcet, i)
                        - i++
        .medium-4.large-3.column
            //if (Marcets)
              //  +residentsFilter()